
# local env files
api_key.txt
access_token.txt
consumer_key.txt
refresh_token.txt
.DS_Store
__pycache__/

pip_dir/

.env*
!.env.example


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
